@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #059669;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), 'Poppins', ui-sans-serif, system-ui, sans-serif;
}
